<div class="team-member-wrapper mt-text-3">
  <div class="container custom-area">
    <div class="row">
      <div class="col-lg-12 col-custom">
        <div class="section-title text-center">
          <span class="section-title-1">The guys behind the curtains</span>
          <h2 class="section-title-2">a team of highly-skilled experts</h2>
        </div>
      </div>
    </div>
    <div class="row ht-team-member-style-two pt-40">
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">
            <div class="team-image">
              <img class="img-fluid" src="assets/images/team/1.jpg" alt="">
              <div class="social-networks">
                <div class="inner">
                  <a href="#"><i class="fa fa-facebook"></i>
                  </a>
                  <a href="#"><i class="fa fa-twitter"></i>
                  </a>
                  <a href="#"><i class="fa fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="team-info text-center">
              <h5 class="name">Dollie Horton </h5>
              <div class="position">Marketing</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">
            <div class="team-image">
              <img class="img-fluid" src="assets/images/team/2.jpg" alt="">
              <div class="social-networks">
                <div class="inner">
                  <a href="#"><i class="fa fa-facebook"></i>
                  </a>
                  <a href="#"><i class="fa fa-twitter"></i>
                  </a>
                  <a href="#"><i class="fa fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="team-info text-center">
              <h5 class="name">Stephen Mearsley </h5>
              <div class="position">President & CEO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">
            <div class="team-image">
              <img class="img-fluid" src="assets/images/team/3.jpg" alt="">
              <div class="social-networks">
                <div class="inner">
                  <a href="#"><i class="fa fa-facebook"></i>
                  </a>
                  <a href="#"><i class="fa fa-twitter"></i>
                  </a>
                  <a href="#"><i class="fa fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="team-info text-center">
              <h5 class="name">Maggie Strickland </h5>
              <div class="position">Financial Services</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
