<footer class="footer-area mt-no-text">
  <div class="footer-widget-area">
    <div class="container container-default custom-area">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
          <div class="single-footer-widget m-0">
            <div class="footer-logo">
              <a routerLink="/">
                <img src="assets/images/logo/logo-footer.png" alt="Logo Image">
              </a>
            </div>
            <p class="desc-content">Platform which helps the people to meet new people from the opposite gener.</p>
            <div class="social-links">
              <ul class="d-flex">
                <li>
                  <a class="rounded-circle" href="https://facebook.com/" title="Facebook">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a class="rounded-circle" href="https://twitter.com/" title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a class="rounded-circle" href="https://linkedin.com/" title="Linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a class="rounded-circle" href="https://youtube.com/" title="Youtube">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
          <div class="single-footer-widget">
            <h2 class="widget-title">Information</h2>
            <ul class="widget-list">
              <li><a routerLink="/about-us">Our Company</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
          <div class="single-footer-widget">
            <h2 class="widget-title">Quicklink</h2>
            <ul class="widget-list">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about-us">About</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/cart">Cart</a></li>
              <li><a routerLink="/contact-us">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
          <div class="single-footer-widget">
            <h2 class="widget-title">Support</h2>
            <ul class="widget-list">
              <li><a routerLink="/contact-us">Online Support</a></li>
              <li><a routerLink="/contact-us">Shipping Policy</a></li>
              <li><a routerLink="/contact-us">Return Policy</a></li>
              <li><a routerLink="/contact-us">Privacy Policy</a></li>
              <li><a routerLink="/contact-us">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
          <div class="single-footer-widget">
            <h2 class="widget-title">See Information</h2>
            <div class="widget-body">
              <address>
                1 Claremont Avenue <br>
                New Malden, London.<br>
                Phone: <a href="tel:+447383721742">+44 7383 721 742</a><br>
                Email: <a href="mailto:contact@takerman.net">contact@takerman.net</a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container custom-area">
      <div class="row">
        <div class="col-12 text-center col-custom">
          <div class="copyright-content">
            <p>Copyright © 2020 <a href="https://takerman.net/" title="https://takerman.net/"
                target="_blank">Takerman</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>