<header class="main-header-area">
  <!-- Main Header Area Start -->
  <div class="main-header header-sticky">
    <div class="container custom-area">
      <div class="row align-items-center">
        <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
          <div class="header-logo d-flex align-items-center">
            <a routerLink="/">
              <img class="img-full" src="assets/images/logo/logo.png" alt="Header Logo">
            </a>
          </div>
        </div>
        <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
          <app-menu-items></app-menu-items>
        </div>
        <div class="col-lg-2 col-md-6 col-6 col-custom">
          <div class="header-right-area main-nav">
            <ul class="nav">
              <li class="minicart-wrap">
                <a routerLink="/cart" class="minicart-btn toolbar-btn">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="cart-item_count">{{this.items?.length | number}}</span>
                </a>
                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                  <div *ngFor="let item of this.items" class="single-cart-item">
                    <div class="cart-img">
                      <a routerLink="/cart"><img src="/assets/images/cart/{{item.image}}" alt=""></a>
                    </div>
                    <div class="cart-text">
                      <h5 class="title"><a routerLink="/cart"></a></h5>
                      <div class="cart-text-btn">
                        <div class="cart-qty">
                          <span>{{item.quantity}}×</span>
                          <span class="cart-price">{{item.price | currency}}</span>
                        </div>
                        <button type="button"><i class="lnr lnr-trash"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="cart-price-total d-flex justify-content-between">
                    <h5>Total :</h5>
                    <h5>{{ this.getTotal() }}</h5>
                  </div>
                  <div class="cart-links d-flex justify-content-between">
                    <a class="btn product-cart button-icon flosun-button dark-btn" routerLink="/cart">View cart</a>
                    <a class="btn flosun-button secondary-btn rounded-0" routerLink="/checkout">Checkout</a>
                  </div>
                </div>
              </li>
              <li class="sidemenu-wrap">
                <a routerLink="/search"><i class="fa fa-search"></i> </a>
                <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
                  <li>
                    <form action="#">
                      <input name="search" id="search" placeholder="Search" type="text">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </li>
                </ul>
              </li>
              <li class="account-menu-wrap d-none d-lg-flex">
                <a routerLink="/account" class="off-canvas-menu-btn">
                  <i class="fa fa-bars"></i>
                </a>
              </li>
              <li class="mobile-menu-btn d-lg-none">
                <a class="off-canvas-btn" href="#">
                  <i class="fa fa-bars"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Header Area End -->
  <!-- off-canvas menu start -->
  <aside class="off-canvas-wrapper" id="mobileMenu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="btn-close-off-canvas">
        <i class="fa fa-times"></i>
      </div>
      <div class="off-canvas-inner">
        <div class="search-box-offcanvas">
          <form>
            <input type="text" placeholder="Search product...">
            <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <a routerLink="/">Home</a>
                <ul class="dropdown">
                  <li><a routerLink="/">Home</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a routerLink="/shop">Shop</a>
                <ul class="megamenu dropdown">
                  <li class="mega-title has-children">
                    <a routerLink="/shop">Shop Layouts</a>
                    <ul class="dropdown">
                      <li><a routerLink="/shop">Shop Left Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="mega-title has-children">
                    <a routerLink="/dates">Dates</a>
                    <ul class="dropdown">
                      <li>
                        <a routerLink="/date">Date</a>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-title has-children">
                    <a routerLink="/">Others</a>
                    <ul class="dropdown">
                      <li><a routerLink="/error">Error</a></li>
                      <li><a routerLink="/cart">Cart</a></li>
                      <li><a routerLink="/checkout">Checkout</a></li>
                      <li><a routerLink="/wishlist">Wish List</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children ">
                <a routerLink="/blog">Blog</a>
                <ul class="dropdown">
                  <li><a routerLink="/blogpost">Blogpost</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children ">
                <a routerLink="/">Pages</a>
                <ul class="dropdown">
                  <li><a routerLink="/faq">FAQ</a></li>
                  <li><a routerLink="/account">My Account</a></li>
                  <li><a routerLink="/login">Login</a></li>
                </ul>
              </li>
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/contact-us">Contact</a></li>
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->
        <div class="offcanvas-widget-area">
          <div class="switcher">
            <div class="language">
              <span class="switcher-title">Language: </span>
              <div class="switcher-menu">
                <ul>
                  <li>
                    <a routerLink="/translate?lang=en">English</a>
                    <ul class="switcher-dropdown">
                      <li><a routerLink="/translate?lang=de">German</a></li>
                      <li><a routerLink="/translate?lang=fr">French</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="currency">
              <span class="switcher-title">Currency: </span>
              <div class="switcher-menu">
                <ul>
                  <li>
                    <a routerLink="/currency?curr=usd">$ USD</a>
                    <ul class="switcher-dropdown">
                      <li><a routerLink="/currency?curr=eur">€ EUR</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="top-info-wrap text-left text-black">
            <ul class="address-info">
              <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+447383721742">(44) 7383 721 742</a>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:contact@takerman.net">contact@takerman.net</a>
              </li>
            </ul>
            <div class="widget-social">
              <a class="facebook-color-bg" title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
              <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
              <a class="linkedin-color-bg" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
              <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!-- off-canvas menu end -->
  <!-- off-canvas menu start -->
  <aside class="off-canvas-menu-wrapper" id="sideMenu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="off-canvas-inner">
        <div class="btn-close-off-canvas">
          <i class="fa fa-times"></i>
        </div>
        <!-- offcanvas widget area start -->
        <div class="offcanvas-widget-area">
          <ul class="menu-top-menu">
            <li><a routerLink="/about-us">About Us</a></li>
          </ul>
          <p class="desc-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="switcher">
            <div class="language">
              <span class="switcher-title">Language: </span>
              <div class="switcher-menu">
                <ul>
                  <li>
                    <a routerLink="/translate?lang=en">English</a>
                    <ul class="switcher-dropdown">
                      <li><a routerLink="/translate?lang=de">German</a></li>
                      <li><a routerLink="/translate?lang=fr">French</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="currency">
              <span class="switcher-title">Currency: </span>
              <div class="switcher-menu">
                <ul>
                  <li>
                    <a routerLink="/currency?curr=usd">$ USD</a>
                    <ul class="switcher-dropdown">
                      <li><a routerLink="/currency?curr=eur">€ EUR</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="top-info-wrap text-left text-black">
            <ul class="address-info">
              <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+447383721742">(44) 7383 721 742</a>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:contact@takerman.net">contact@takerman.net</a>
              </li>
            </ul>
            <div class="widget-social">
              <a class="facebook-color-bg" title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
              <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
              <a class="linkedin-color-bg" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
              <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
        </div>
        <!-- offcanvas widget area end -->
      </div>
    </div>
  </aside>
  <!-- off-canvas menu end -->
</header>
